In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris

In [22]:
iris = load_iris()
X, y = load_iris(return_X_y = True)
#X, y = load_iris()

In [23]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [24]:
data = pd.DataFrame({'sepal_length': iris.data[:, 0], 'sepal_width': iris.data[:, 1],
                     'petal_length': iris.data[:, 2], 'petal_width': iris.data[:, 3],
                     'species': iris.target})

In [25]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [26]:
print(X.shape, y.shape)

X = data.iloc[:,:-1]
y = data.iloc[:,-1]
total_classes = y.nunique()
print("Number of unique species in dataset are: ",total_classes)

(150, 4) (150,)
Number of unique species in dataset are:  3

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [29]:
adb = AdaBoostClassifier()
adb_model = adb.fit(X_train,y_train)

In [31]:
print("The accuracy of AdaBoost : ", adb_model.score(X_test,y_test))

The accuracy of AdaBoost :  0.9210526315789473